@charset "UTF-8";
* {
  box-sizing: border-box; }

div {
  overflow: auto; }

.hidden {
  display: none; }

div.p4px {
  clear: both;
  margin-top: 4px; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 14px;
  overflow: auto;
  background-color: #2a2d30;
  color: #eeeeee; }

body #pagewrap {
  width: 65%;
  margin: 0 auto; }
  body #pagewrap #header {
    position: relative;
    height: 160px; }
  body #pagewrap #menu {
    top: 0px;
    left: 0px;
    margin-top: 5px;
    margin-right: 10px;
    padding: 0px;
    float: left; }
    body #pagewrap #menu div.l_menu_item, body #pagewrap #menu div.l_menu_item.selected {
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      padding: 0 5px;
      margin: 6px;
      background-color: #3f4552;
      text-align: center;
      box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
      transition-property: border-right, border-left;
      transition-timing-function: ease-out;
      transition-duration: 0.5s; }
      body #pagewrap #menu div.l_menu_item:hover, body #pagewrap #menu div.l_menu_item.selected:hover {
        background-color: #494f5c;
        cursor: pointer;
        text-decoration: underline;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); }
    body #pagewrap #menu div.l_menu_item.selected, body #pagewrap #menu div.selected.l_menu_item {
      border-right: 4px solid #ff8c00;
      border-left: 4px solid #ff8c00;
      border-radius: 2px; }
  body #pagewrap div.content {
    margin: 10px 1% 30px 1%;
    background-color: rgba(147, 167, 209, 0.68);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5); }
    body #pagewrap div.content h2 {
      padding: 0 2% 0 2%; }
    body #pagewrap div.content div.main_form {
      max-width: 100%;
      overflow: hidden;
      min-width: 100%;
      line-height: 30px; }
      body #pagewrap div.content div.main_form div.mainvideosettings {
        float: left;
        width: 50%;
        margin: 0 25% 0 25%; }
      body #pagewrap div.content div.main_form div.streams {
        float: right;
        width: 50%; }
      body #pagewrap div.content div.main_form div.parameter {
        overflow: auto;
        width: 100%;
        /*Sliding 0n/Off-Toggle-Switch*/ }
        body #pagewrap div.content div.main_form div.parameter label {
          float: left;
          width: 50%;
          height: 30px;
          text-align: right;
          padding-right: 10px; }
        body #pagewrap div.content div.main_form div.parameter .ctrl_element, body #pagewrap div.content div.main_form div.parameter div.slider_and_txtedit {
          width: 50%; }
        body #pagewrap div.content div.main_form div.parameter div.slider_and_txtedit input.text {
          width: 8%; }
          body #pagewrap div.content div.main_form div.parameter div.slider_and_txtedit input.text .material-input::before {
            position: absolute;
            content: "";
            width: 100%;
            left: 0px;
            height: 2px;
            background-color: #009587;
            bottom: -1px;
            transform: scaleX(0);
            transition: transform 0s ease 0s; }
          body #pagewrap div.content div.main_form div.parameter div.slider_and_txtedit input.text .material-input::after {
            content: "";
            position: absolute;
            height: 18px;
            width: 100px;
            margin-top: -1px;
            top: 7px;
            left: 0px;
            pointer-events: none;
            opacity: 0.9;
            transform-origin: left center 0px; }
        body #pagewrap div.content div.main_form div.parameter .onoffswitch {
          position: relative;
          width: 90px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none; }
        body #pagewrap div.content div.main_form div.parameter .onoffswitch-checkbox {
          display: none; }
        body #pagewrap div.content div.main_form div.parameter .onoffswitch-label {
          display: block;
          overflow: hidden;
          cursor: pointer;
          border: 2px solid #999999;
          border-radius: 0px;
          width: 90px;
          height: auto;
          padding: 0 0 0 0; }
        body #pagewrap div.content div.main_form div.parameter .onoffswitch-inner {
          display: block;
          width: 200%;
          margin-left: -100%;
          -moz-transition: margin 0.3s ease-in 0s;
          -webkit-transition: margin 0.3s ease-in 0s;
          -o-transition: margin 0.3s ease-in 0s;
          transition: margin 0.3s ease-in 0s; }
        body #pagewrap div.content div.main_form div.parameter .onoffswitch-inner:before, body #pagewrap div.content div.main_form div.parameter .onoffswitch-inner:after {
          display: block;
          float: left;
          width: 50%;
          height: 30px;
          padding: 0;
          line-height: 26px;
          font-size: 14px;
          color: white;
          font-family: Trebuchet, Arial, sans-serif;
          font-weight: bold;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border: 2px solid transparent;
          background-clip: padding-box; }
        body #pagewrap div.content div.main_form div.parameter .onoffswitch-inner:before {
          content: "ON";
          padding-left: 10px;
          background-color: #3f4552;
          color: #FFFFFF;
          text-align: left; }
        body #pagewrap div.content div.main_form div.parameter .onoffswitch-inner:after {
          content: "OFF";
          padding-right: 10px;
          background-color: #EEEEEE;
          color: #999999;
          text-align: right; }
        body #pagewrap div.content div.main_form div.parameter .onoffswitch-switch {
          display: block;
          width: 18px;
          margin: 0px;
          background: #999999;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 72px;
          -moz-transition: all 0.3s ease-in 0s;
          -webkit-transition: all 0.3s ease-in 0s;
          -o-transition: all 0.3s ease-in 0s;
          transition: all 0.3s ease-in 0s; }
        body #pagewrap div.content div.main_form div.parameter .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
          margin-left: 0; }
        body #pagewrap div.content div.main_form div.parameter .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
          right: 0px; }
        body #pagewrap div.content div.main_form div.parameter div.error-message {
          float: right;
          width: 70%;
          min-height: 30px;
          margin: 0px;
          padding: 0px 16px;
          color: #F00;
          font-size: 12px;
          font-weight: bold;
          line-height: 20px; }
body div.footer {
  background-color: #3f4552;
  height: 28px;
  color: #eeeeee;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-size: 16px;
  line-height: 28px; }
